// src/global.scss

:root {
    --default-primary-color: #FFFAF1;
    --default-secondary-color: #003049;
    --default-tertiary-color: #c1121f;
    --default-quaternary-color: #D25E5E;
    --default-fifth-color: var(--secondary-color);
    
    --primary-color: var(--default-primary-color);
    --secondary-color: var(--default-secondary-color);
    --tertiary-color: var(--default-tertiary-color);
    --quaternary-color: var(--default-quaternary-color);
    --fifth-color: var(--default-fifth-color);
  }
